{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.spec.ts",
    "**/__test__/**.ts",
    "src/000-core/common/utils/test-utils.ts"
  ]
}